[user]
    name = Ching Chow
    email = ching.chow.sc@gmail.com

[core]
    autocrlf = false

[format]
    pretty = oneline

[log]
    abbrevCommit = true
    date = human

[rebase]
    autosquash = true
