[user]
name = Ching Chow
email = ching.chow.sc@gmail.com

[core]
autocrlf = false

[pull]
ff = only

[rebase]
autosquash = true

[alias]
ls = log --graph --pretty='format:%C(auto)%h [%ci]%d %s (%an)'
pick = cherry-pick
